<ul>
    <li>01/15/2015 - Removed case sensetivity for usernames</li>
    <li>01/16/2015 - Escaping html & js (poorly) + added linking</li>
    <li>01/16/2015 - Adjusting styles for mobile friendliness, adding visual buffs</li>
</ul>

<a target="_blank" href="https://github.com/bananatron/gruup/commits/master">Full commit list</a>