
<chat-window>
  <messages>
  
  </messages>
</chat-window>

<% if @username %>

    <div class="submit-container">
      <div class='textmock' contenteditable></div>
      <!--  <div class="submit_button">Submit</div>-->
      <div class="submit-button"><div>GO</div></div>
      <!--<button class="stickers-modal-button">Stickers</button>-->
    </div>
    
    
    <!--<div id="dialog">-->
    <!--  <strong>Choose Your Sticker</strong>-->
    <!--  <ul class="stickerImages"></ul>-->
    <!--</div>-->

<% else %>
    
    <h2 style="color:rgba(255, 255, 255, 0.5)">Join the conversation by <a href="/login">logging in</a> or <a href="/register">signing up.</a></h2>

<% end %>


<div class="visibility-container">
  
   <i class="fa fa-chevron-circle-down scroll-to-bottom"></i> <i class="fa fa-info-circle admin-help"></i>
  
  <% if @private %>

    <% if @admin %>
    <!--<div class="admin-button-container">-->
    <!--  <button class="admin-button bg-green" id="admin-add-user"><i class="fa fa-plus"></i></button>-->
    <!--  <button class="admin-button bg-red" id="admin-remove-user"><i class="fa fa-times"></i></button>-->
    <!--  <button class="admin-button bg-blue" id="admin-help"><i class="fa fa-question"></i></button>-->
    <!--</div>-->
    <% end %>
  
      <i class="fa fa-eye toggle-userlist"></i><div class="users-in-room"></div>
      
  <% else %>
  
      <i class="fa fa-eye"></i> PUBLIC CHAT
      
  <% end %>
  
</div>









<!-- jQuery UI added for dialog box -->
<!--<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>-->
<script>

  var userName = "<%= @username %>"
  console.log(window.location.href);
  var MESSAGE_LIMIT = 60;
  var window_query = window.location.search.split('?')[1];
  if (window_query == 'all') MESSAGE_LIMIT = 9999;
  if (window_query && isNaN(window_query) == false) MESSAGE_LIMIT = parseInt(window_query);
  
  var date = new Date();
  var month_time = date.getMonth().toString() + date.getYear().toString();
  var room_name = "<%= @room %>";
  var admin = <%= @admin || false %>;
  var usersGlobal = new Firebase("https://h4xchat.firebaseio.com/users");
  var usersChat = new Firebase("https://h4xchat.firebaseio.com/chats/"+ room_name + "/users");
  var firebaseRef = new Firebase("https://h4xchat.firebaseio.com/chats/" + room_name + "/messages/" + month_time);
  var UNREAD = 0;

function onBlur() {
	document.body.className = 'blurred';
};
function onFocus(){
	document.body.className = 'focused';
	document.title = "GRÜUP"
	UNREAD = 0;
};

if (/*@cc_on!@*/false) { // check for Internet Explorer
	document.onfocusin = onFocus;
	document.onfocusout = onBlur;
} else {
	window.onfocus = onFocus;
	window.onblur = onBlur;
}


</script>
<script src="/js/chat.js"></script>

