
<chat-window>
<messages>

</messages>
</chat-window>


<% if @username %>

<div class="submit-container">
  <div class='textmock' contenteditable></div>
  <!--  <div class="submit_button">Submit</div>-->
  <div class="submit-button"><div>GO</div></div>
  <!--<button class="stickers-modal-button">Stickers</button>-->
  
</div>


<div id="dialog">
  <strong>Choose Your Sticker</strong>
  <ul class="stickerImages">
    
  </ul>
</div>

<% else %>


<h2 style="color:rgba(255, 255, 255, 0.5)">Join the conversation by <a href="/login">logging in</a> or <a href="/register">signing up.</a></h2>

<% end %>

<script src="https://cdn.firebase.com/js/client/2.2.7/firebase.js"></script>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<!-- jQuery UI added for dialog box -->
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>

<script>

  var MESSAGE_LIMIT = 40;
  var chatUsers = new Firebase("https://h4xchat.firebaseio.com/users");
  var firebaseRef = new Firebase("https://h4xchat.firebaseio.com/chats/bros");
  firebaseRef.limitToLast(MESSAGE_LIMIT).on('child_added', function(child) {
    
  
      var msg = child.val();
      createMessage(msg.message, Object.getOwnPropertyNames(msg), msg.timestamp, msg.author );
      $("chat-window").animate({ scrollTop: 999999 }, 0);
  
    
  }, function (errorObject) {
    console.log("The read failed: " + errorObject.code);
  });
  
  $( ".submit-button" ).click(function() {
    sendMessage();
  });
  
  $(".textmock").keyup(function (e) {
    if (e.keyCode == 13) { //Allows shift
        sendMessage();
    }
  });
  
  
  //Sends message to firebase
  var sendMessage = function(){
    
    if ($('.textmock').text().trim() != "") {
      
      var dt = new Date();
      var dlit = dt.toDateString();
      var gooddate = dt.getMonth() + '/' + dt.getDay() + '/' + dt.getFullYear() + ' ' + dt.getHours() + ':' + dt.getMinutes();
      
      firebaseRef.push({
        message: cleanMessage($('.textmock').text()),
        timestamp: gooddate,
        author: $('.user-data').text(),
        fulldate: dlit
      });
      
      $('.textmock').empty();
      
      var scrollBottom = $('chat-window').scrollTop() + $('chat-window').height();
      
    }
  }
  
  
  var esctags = ['a', 'javascript', 'marquee'] //Maybe use an array to go through the tags for removal? idk
  var cleanMessage = function(message){ //TODO make this actually work well
    
    var msg = message;
    msg = msg.replace('<','');
    msg = msg.replace('>','');
    msg = msg.replace('/>','');
    
    
    return addLinks(msg);
    
  };
  
  //http://stackoverflow.com/questions/12318023/find-and-convert-all-strings-starts-with-http-https-and-convert-into-links
  var addLinks = function(text) {
        var url1 = /(^|&lt;|\s)(www\..+?\..+?)(\s|&gt;|$)/g,
        url2 = /(^|&lt;|\s)(((https?|ftp):\/\/|mailto:).+?)(\s|&gt;|$)/g;

        var html = $.trim(text);
        if (html) {
            html = html
                .replace(url1, '$1<a target="_blank"  href="http://$2">$2</a>$3')
                .replace(url2, '$1<a target="_blank"  href="$2">$2</a>$5');
        }
        return html;
    }
  
  //Creates message and appends to messages box
  var createMessage = function(message, id, time, author){
    
    var msg = this.view = document.createElement("message");
    msg.setAttribute('id', id);
    
    var aa = msg.appendChild(document.createElement("div"));
    aa.setAttribute('class', 'author');
    aa.innerHTML = author;
    aa.setAttribute('style', 'background-color:#'+ $('#user-color').text());
    
    var uu = new Firebase(chatUsers + '/' + author);
    uu.once("value", function(data) {
      aa.setAttribute('style', 'background-color:#'+ data.val().color)
    });
    
    
    var mm = msg.appendChild(document.createElement("div"));
    mm.setAttribute('class', 'message');
    mm.innerHTML = message;
    
    var tt = msg.appendChild(document.createElement("div"));
    tt.setAttribute('class', 'timestamp');
    tt.innerHTML = time;
 
    $(msg).appendTo('messages');
    
  }


  //Create eventListner for onclick event of stickers button
  $('.stickers-modal-button').on('click', function(e) {
    var connectionStr = 'http://api.flickr.com/services/feeds/photos_public.gne?format=json&tags=pugs&jsoncallback=?';
    var $img = $("<img>");
    var maxNumOfImages = 10;
    $.getJSON(connectionStr, function(data) {
        //Loop through each item of the response
        data.items.forEach(function(photo) {
          //Initialize the $img obj to blank <img> tag
          $img = $("<img>").addClass('stickerItem');
          if(maxNumOfImages === 0) {
            return;
          }
          //Append the img URL to $img obj
          $img.attr("src", photo.media.m);
          $li = $("<li>").addClass('stickerItem');

          $li.append($img)
          $(".stickerImages").append($li);
          maxNumOfImages--;
        });        
    });
    $('#dialog').css('display', 'block');
  });




</script>


