
<chat-window>
<messages>

</messages>
</chat-window>


<% if @username %>
<div class='textmock' contenteditable>
<!--  <div class="submit_button">Submit</div>-->
</div>
<div class="submit-button">Submit</div>
<% end %>

<script src="https://cdn.firebase.com/js/client/2.2.7/firebase.js"></script>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

<script>

 var chatUsers = new Firebase("https://h4xchat.firebaseio.com/users");
 var firebaseRef = new Firebase("https://h4xchat.firebaseio.com/chats/bros");
  firebaseRef.on('child_added', function(snap) {
    
    var msg = snap.val();
    createMessage(msg.message, Object.getOwnPropertyNames(msg), msg.timestamp, msg.author );
    $("chat-window").animate({ scrollTop: 1000 }, 0);
    
  }, function (errorObject) {
    console.log("The read failed: " + errorObject.code);
  });
  
  $( ".submit-button" ).click(function() {
    sendMessage();
  });
  
  $(".textmock").keyup(function (e) {
    if (e.keyCode == 13) { //Allows shift
        sendMessage();
    }
  });
  
  
  //Sends message to firebase
  var sendMessage = function(){
    
    if ($('.textmock').text().trim() != "") {
      
      var dt = new Date();
      var dlit = dt.toDateString();
      var gooddate = dt.getMonth() + '/' + dt.getDay() + '/' + dt.getFullYear() + ' ' + dt.getHours() + ':' + dt.getMinutes();
      
      firebaseRef.push({
        message: $('.textmock').text(),
        timestamp: gooddate,
        author: $('.user-data').text(),
        fulldate: dlit
      });
      
      $('.textmock').empty();
      
      var scrollBottom = $('chat-window').scrollTop() + $('chat-window').height();
      
    }
  }
  
  //Creates message and appends to messages box
  var createMessage = function(message, id, time, author){
    
    var msg = this.view = document.createElement("message");
    msg.setAttribute('id', id);
    
    var aa = msg.appendChild(document.createElement("div"));
    aa.setAttribute('class', 'author');
    aa.innerHTML = author;
    aa.setAttribute('style', 'background-color:#'+ $('#user-color').text());
    
    var uu = new Firebase(chatUsers + '/' + author);
    uu.once("value", function(data) {
      aa.setAttribute('style', 'background-color:#'+ data.val().color)
    });
    
    
    var mm = msg.appendChild(document.createElement("div"));
    mm.setAttribute('class', 'message');
    mm.innerHTML = message;
    
    var tt = msg.appendChild(document.createElement("div"));
    tt.setAttribute('class', 'timestamp');
    tt.innerHTML = time;
 
    $(msg).appendTo('messages');
    
  }


  
</script>