<html>
  
<link rel="stylesheet" href="styles/styles.css">
<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Share+Tech+Mono' rel='stylesheet' type='text/css'>

<!-- favicon -->
<link rel="apple-touch-icon" sizes="57x57" href="/images/192.png">
<link rel="icon" type="image/png" sizes="57x57" href="/images/192.png">

<title>GRÜUP</title>
<body>
  <div class="logo">
    <h1><a style="color:#fff;" href="/">GRUUP</a></h1>
  </div>
  
    <% if @username %>
      <a href="/logout" class="user-data sh"><%= @username %></a>
      <span style="display:none" id="user-color"><%= @user_color %></span>
    <% else %>
      <a href="/login" class="user-data">login</a>
    <% end %>

   <%= @notice if @notice %>
   <%= yield %>
   
</body>

</html>

