<% if @username %>

You are already logged in as <u><%= @username %></u>!<br>
If this isn't you, why don't you, go ahead and <a href="/logout">log out</a>.

<% else %>

<form name="app_submission" action="/login" method="post">
  <div class="form-group">
    <input type="text" class="form-control" name="username" placeholder="Username" value="">
  </div>
  <div class="form-group">
    <input type="password" class="form-control" name="password" placeholder="Password" value="">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
<br>
</i><a href="/register">Need an account?</a>

<% end %>
