<h1>Register</h1>
<br>
<form name="app_submission" action="/register" method="post">
  <div class="form-group">
    <label for="app_name">Username</label>
    <input type="text" class="form-control" name="username" placeholder="Username" value="">
  </div>
  <div class="form-group">
    <label for="app_description">Password</label>
    <input type="password" class="form-control" name="password" placeholder="Secure password" value="">
  </div>
  <div class="form-group">
    <label for="app_description">Password again</label>
    <input type="password" class="form-control" name="password" placeholder="Secure password" value="">
  </div>

  
  <button type="submit" class="btn btn-default">Register</button>
</form>