<h1>Submit</h1>
Submit an application for version tracking through versioner below, then follow <a href="/docs">the instructions</a> to get your app to talk to versioneer.
<br><br>
<form name="app_submission" action="/submit/false" method="post">
  <div class="form-group">
    <label for="app_name">App Name*</label>
    <input type="text" class="form-control" name="app_name" placeholder="App Name">
  </div>
  <div class="form-group">
    <label for="app_description">Description*</label>
    <input type="text" class="form-control" name="app_description" placeholder="General application description">
  </div>
  <div class="form-group">
    <label for="guid">Unique Identifier*</label>
    <input type="text" class="form-control" name="guid" placeholder="A unique identifier for the application">
  </div>
  <div class="form-group">
    <label for="version">Current Version*</label>
    <input type="text" class="form-control" name="version" placeholder="Current application version">
  </div>
  <div class="form-group">
    <label for="get_link">Download Link</label>
    <input type="text" class="form-control" name="get_link" placeholder="Download link url">
  </div>
  <div class="form-group">
    <label for="link_description">Download Link Description</label>
    <input type="text" class="form-control" name="link_description" placeholder="Description for download link">
  </div>

  
  <button type="submit" class="btn btn-default">Submit</button>
</form>