<h1><%= @username %></h1>

<br/>
<form name="app_submission" action="/u/color" method="post">
  <div class="form-group">
    <input type="text" class="form-control" name="hex" placeholder="hex value" value="">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
<br/>


<h3>Change Password</h3>
<form name="app_submission" action="/changepass" method="post">
  <div class="form-group">
    <input type="password" class="form-control" name="oldpass" placeholder="Old Password" value="">
  </div>
  <div class="form-group">
    <input type="password" class="form-control" name="password" placeholder="New Password" value="">
  </div>
  <div class="form-group">
    <input type="password" class="form-control" name="passwordagain" placeholder="Confirm Password" value="">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>